{% extends "layout.html" %}
{% block body %}
<div class="col">
    <div class="jumbotron front-page">
        <h1>{{ title }}</h1>
        <p class="lead">
            Check out IBS , a collaboration Python project by <a href="https://twitch.tv/vtripple" target="_blank">vTriple</a>
            and
            <a href="https://twitch.tv/afallenhope" target="_blank">Fallen</a></p>
        <p>
            <a href="/twitch" class="btn btn-primary"><i class="fa fa-twitch"></i> Authorize</a>
        </p>
    </div>
</div>
{% endblock %}